.site-layout {
  width: 100%;
  min-height: 100vh;
  padding-right: 0px;
  padding-left: 20px;
}
.layout-content {
  padding-top: 20px;
  padding-left: 270px;
}

@media (max-width:1299.9px) {
  .layout-content {
    padding-left: 0;
  }
}